:root {
    --bs-dropdown-link-active-bg: #ccc;
}

#header .hd-home .mainbar {
    padding-bottom: 0;
}

#header .hd-home .mainbar .dropdown .dropdown-toggle {
    width: 240px;
    background-color: var(--dark-color);
    border: none;
    padding: 12px;
}

#header .hd-home .mainbar .dropdown .dropdown-toggle::after {
    margin-left: 10px;
    margin-right: -10px;
}

#header .hd-home .mainbar .dropdown .dropdown-menu {
    width: 240px;
    padding: 0;
    top: -3px !important;
}

#header .hd-home .mainbar .dropdown .dropdown-menu .dropdown-item {
    padding: 12px;
}

#header .hd-home .mainbar .dropdown .dropdown-menu .dropdown-item:active {
    background-color: #aaa !important;
}

#header .hd-home .mainbar .search-box {
    max-width: 500px;
}

#header .navigation {
    padding-top: 0;
}

#header .navigation .container-fluid {
    justify-content: right;
    margin-right: 32px;
}

#header .navigation .container-fluid .menu {
    align-items: end;
}

#header .navigation .container-fluid .active {
    font-size: 28px;
    color: #000;
}

#header .navigation .container-fluid .active:hover {
    color: #000;
    cursor: default;
}

#header hr {
    margin: 0 32px 16px;
}

main {
    min-height: calc(100vh - 470px);
}

main button {
    margin: 2px 0;
}

main > div {
    display: none;
}

main > div.active {
    display: block;
}

main >div > h5 {
    float: left;
}

main > div > button {
    float: right;
    margin-left: 4px;
}

main table {
    width: 100%;
}

main table th,
main table td {
    border: solid #333 1px;
    padding: 4px 8px;
}

#fixed .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7); /* nền đen mờ */
    z-index: 1;
    display: none;
}

#fixed .add-product {
    position: fixed;
    top: 150px;
    left: 00px;
    right: 00px;
    bottom: 100px;
    background-color: #fff;
    z-index: 1000;
    display: none;
    overflow: hidden;
}

#fixed .add-product .box {
    margin: 48px 64px;
}

#fixed .add-product .box h2 {
    margin: 20px 0;
}

#fixed .add-product .box table {
    table-layout: fixed;
    width: 100%;
}

#fixed .add-product .box td {
    padding: 4px;
}

#fixed .add-product .box .add:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.67);
    display: inline-block;
}

#fixed .add-product .box select {
    width: 188px;
}

#fixed .add-product .box button {
    float: right;
    margin-left: 4px;
}

#fixed div.active {
    display: block;
}