
/* FOOTER */
.footer {
    background-color: var(--dark-color);
    color: #fff;
    padding: 40px 0 0;
    font-size: 14px;
    
}

#footer .footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 0 20px;
}

#footer .footer-container .footer-box h3 {
    margin-bottom: 15px;
    color: #fff;
}

#footer .footer-container .footer-box p {
    line-height: 1.6;
    color: black;
}

#footer .footer-container .footer-box ul {
    list-style: none;
}

#footer .footer-container .footer-box ul li {
    margin-bottom: 8px;
}

#footer .footer-container .footer-box ul li a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

#footer .footer-container .footer-box ul li a:hover {
    color: var(--main-color);
}

#footer .footer-container .footer-box .social a {
    display: inline-flex;
    width: 36px;
    height: 36px;
    background: var(--main-color);
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 8px;
    transition: 0.3s;
}

#footer .footer-container .footer-box .social a:hover {
    background: #fff;
    color: var(--main-color);
}

#footer .footer-bottom {
    margin-top: 30px;
    background: #000;
    text-align: center;
    padding: 15px;
    font-size: 13px;
    color: #ccc;
}
