:root {
    --main-color: #d51c24;
    --sub-color: #e6e6e6;
    --light-color: #fff;
    --dark-color: #a9171d;
    --grey-color: #494949;
    --col-item: 5;
}

html {
    font-family:
        Calibri, "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

main {
    margin: 40px;
    min-width: calc(100% - 80px);
}

#header .background-header h1 {
}

.breadcrumb {
    margin-top: 40px;
    font-size: 14px;
    position: absolute;
    top: 40%;
    z-index: 3;
    color: white;
    left: 50px;
}

.breadcrumb a {
    color: white;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #ffc107;
}

main h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

main .cart-table {
    width: 100%;
    /* nhập các đường viền thành 1 */
    border-collapse: collapse;
    border: 1px solid #ddd;
}

main .cart-table th,
main .cart-table td {
    padding: 15px;
    vertical-align: middle;
}

main .cart-table th {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

main .cart-table td {
    text-align: left;
}

main .cart-table .th-title {
    width: 60%;
}

main .left {
    text-align: left;
}
main .product-info {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
}

/* main .product-info a {
    font-weight: bold;
    text-align: left;
} */

main .book-img {
    width: 80px;
}

main .price {
    text-align: center;
}

main .new-price {
    color: var(--main-color);
    font-weight: bold;
    font-size: 17px;
}

main .old-price {
    text-decoration: line-through;
    color: var(--grey-color);
    font-size: 16px;
}

main .discount {
    background-color: var(--main-color);
    color: white;
    padding: 3px 6px;
    font-size: 16px;
    margin-top: 5px;
    display: inline-block;
}

/* Container bao quanh 3 nút */
main .quantity-group {
    display: inline-flex;
    border: 1px solid #ddd;
    overflow: hidden;
    height: 35px;
}

main .quantity-group button {
    width: 35px;
    height: 100%;
    border: none;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ô nhập số lượng ở giữa */
main .quantity-group .number {
    width: 45px;
    height: 100%;
    border: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
    outline: none;
    background-color: #fff;
}

/* Hiệu ứng khi di chuột vào nút */
main .quantity-group button:hover {
    background-color: #fff1f1;
}

main .btn-minus,
main .btn-plus {
    font-weight: bold;
}

main .total-price {
    text-align: center;
    font-weight: bold;
    color: var(--main-color);
    font-size: 16px;
}

main .remove button {
    color: var(--main-color);
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

main .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

main .note-section textarea {
    width: 750px;
    height: 105px;
    padding: 10px;
    border-radius: 5px;
    border-color: #ddd;
    resize: none;
}

main .cart-footer {
    width: 45%;
    display: flex;
    flex-direction: column; /* xếp dọc */
    align-items: flex-end; /* căn sang phải */
}

main .total,
main .saving {
    width: 100%;
    text-align: right;
}

main .saving {
    font-size: 16px;
    text-align: right;
    margin-bottom: 10px;
}

main .total {
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: bold;
}

main .total span {
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
}

main .checkout-btn {
    margin-top: 10px;
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
    line-height: 40px;
    border-radius: 5px;
    width: 400px;
}

main .checkout-btn:hover {
    background-color: var(--dark-color);
}

/* giỏ hàng tiết kiệm */
/* CSS cho phần tổng tiền ở dropdown */
