:root {
    --main-color: #d51c24;
    --sub-color: #e6e6e6;
    --light-color: #fff;
    --dark-color: #a9171d;
}

.info {
    background-color:var(--dark-color);
    color: #fff;
    padding: 8px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.top-left{
    display: flex;
    align-items: center;
    gap: 12px;
}

.top-left i {
    cursor: pointer;
}

.top-right span {
    margin-left: 20px;
}

.marquee {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    width: 600px;
    overflow: hidden;
}

.marquee i{
    flex-shrink: 0;
    font-size: 18px;
    color: #fff;
}

.marquee-text {
    overflow: hidden;
    flex: 1;
}

.marquee-text span {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
}

/* animation chạy từ phải → trái */
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.mainbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    /* grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px 60px; */
}

.logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;   
    object-fit: cover;
}



/* SEARCH */
.search-box {
    flex: 1; /* giúp search nằm giữa */
    max-width: 500px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 6px 15px;
    margin: 0 40px;

}

.search-box:hover{
    /* border-color: var(--dark-color); */
    box-shadow: 0 0 2px #bbbbbb;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
}

.search-box:focus-within{
    border-color: var(--main-color);
    box-shadow: 0 0 6px rgba(213, 28, 36, 0.4);
}

.search-box i {
    /* color: var(--main-color); */
    cursor: pointer;
    
}

/* USER */
.user-cart {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}

.user-cart :hover{
    color: var(--main-color);
}

.user-cart a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    position: relative;
    font-size: 20px;
}

.badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: var(--main-color);
    color: #fff;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 50%;
}


.banner-slider {
    width: 100%;
    max-width: 1200px;
    height: 420px;
    position: relative;
    overflow: hidden;
}


.menu {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.menu a:hover {
    color: var(--dark-color);
}



/* DROPDOWN */
.submenu {
    z-index: 3;
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    background: #fff;
    list-style: none;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    display: none;
}

.submenu li a {
    display: block;
    padding: 12px 15px;
    font-weight: normal;
}

.submenu li a:hover {
    background: #f5f5f5;
}

.dropdown:hover .submenu {
    display: block;
}

/* SLIDER */
.slider {
    width: 100%;
    /* height: 450px; */
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    /* animation: slide 12s infinite; */
    /* transform: translateX(-100%); */
}

.slide {
    width: 100%;
    width: 100%;
    /* height: 100px; */
}

.slide img {
    object-fit: cover;
}

/* ANIMATION */
@keyframes slide {
    0%   { transform: translateX(0); }
    33%  { transform: translateX(calc(-100% / 3)); }
    66%  { transform: translateX(calc(-100% * 2 / 3)); }
    100% { transform: translateX(0); }
} 