:root {
    --main-color: #d51c24;
    --sub-color: #e6e6e6;
    --light-color: #fff;
    --dark-color: #a9171d;
}

#header .hd-home .info {
    background-color:var(--dark-color);
    color: #fff;
    padding: 8px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

#header .hd-home .info .top-left{
    display: flex;
    align-items: center;
    gap: 12px;
}

#header .hd-home .info .top-left i {
    cursor: pointer;
}

#header .hd-home .info .top-right span {
    margin-left: 20px;
}

#header .hd-home .info .marquee {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    width: 600px;
    overflow: hidden;
}

#header .hd-home .info .marquee i{
    flex-shrink: 0;
    font-size: 12px;
    color: #fff;
}

#header .hd-home .info .marquee .marquee-text {
    overflow: hidden;
    flex: 1;
}

#header .hd-home .info .marquee .marquee-text span {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 15s linear infinite;
}

/* animation chạy từ phải → trái */
@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#header .hd-home .mainbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    /* grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 20px 60px; */
}

#header .hd-home .mainbar .logo img {
    height: 100px;
    width: 100px;
    /* border-radius: 50%;    */
    object-fit: cover;
    padding-left: 30px;
}



/* SEARCH */
#header .hd-home .mainbar .search-box {
    flex: 1; /* giúp search nằm giữa */
    max-width: 700px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 12px 22px;
    margin: 0 40px;

}

#header .hd-home .mainbar .search-box:hover{
    /* border-color: var(--dark-color); */
    box-shadow: 0 0 2px #bbbbbb;
}

#header .hd-home .mainbar .search-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 20px;
}

#header .hd-home .mainbar .search-box:focus-within{
    border-color: var(--main-color);
    box-shadow: 0 0 2px rgba(213, 28, 36, 0.4);
}

#header .hd-home .mainbar .search-box i {
    /* color: var(--main-color); */
    cursor: pointer;
    
}

/* USER */
#header .hd-home .mainbar .user-cart {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
    padding-right: 30px;
}

#header .hd-home .mainbar .user-cart :hover{
    color: var(--main-color);
}

#header .hd-home .mainbar .user-cart a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#header .hd-home .mainbar .user-cart .icon {
    position: relative;
    font-size: 20px;
}

#header .hd-home .mainbar .user-cart .icon .badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: var(--main-color);
    color: #fff;
    font-size: 8px;
    padding: 2px 6px;
    border-radius: 50%;
}


/* .banner-slider {
    width: 100%;
    max-width: 1200px;
    height: 420px;
    position: relative;
    overflow: hidden;
} */


#header .navigation .menu {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 22px;
}

#header .navigation .menu li {
    position: relative;
}

#header .navigation .menu a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

#header .navigation .menu a:hover {
    color: var(--dark-color);
}



/* DROPDOWN */
#header .navigation .menu .dropdown .submenu {
    z-index: 3;
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    background: #fff;
    list-style: none;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    display: none;
    padding-left: 0px;
}

#header .navigation .menu .dropdown .submenu li a {
    display: block;
    padding: 12px 15px;
    font-weight: normal;
}

#header .navigation .menu .dropdown .submenu li a:hover {
    background: #f5f5f5;
}

#header .navigation .menu .dropdown:hover .submenu {
    display: block;
}

/* SLIDER */
#header .slider {
    width: 100%;
    /* height: 450px; */
    overflow: hidden;
    position: relative;
}

#header .slider .slides {
    display: flex;
    width: 300%;
    /* animation: slide 12s infinite; */
    /* transform: translateX(-100%); */
    transition: transform 2s ease;
}

#header .slider .slides:hover {
    cursor: grab;
}

#header .slider .slides .slide {
    width: 100%;
    
    /* height: 100px; */
}

#header .slider .slides .slide img {
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

