.btn-slider-left {
    position: absolute;
    left: 16px;
    top: 50%;
    border-radius: 50%;
    background-color: var(--main-color);
    color: #fff;
    z-index: 1.2;
}

.btn-slider-left:hover {
    cursor: pointer;
    background-color: var(--grey-color);
}

.btn-slider-left i {
    padding: 8px 6px;
}

.btn-slider-right {
    position: absolute;
    right: 16px;
    top: 50%;
    border-radius: 50%;
    background-color: var(--main-color);
    color: #fff;
    z-index: 1.2;
}

.btn-slider-right:hover {
    cursor: pointer;
    background-color: var(--grey-color);
}

.btn-slider-right i {
    padding: 8px 6px;
}